.redirect-button{
  border: none;
  background-color: transparent;
  color: snow;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  max-width: 250px;
  width: 100%;
  .redirect-button-icon{
    align-self: center;
    margin-left: 20px;
    font-size: 20px;
    opacity: 0;
  }
}

.redirect-button:hover {
  opacity: 0.85;
  .redirect-button-icon{
    opacity: 0.9;
  }
}

.redirect-button:disabled{
  color: grey;
  cursor: default;
  transform: scale(1.03);
}

.redirect-button:active {
  transform: scale(1.03);
}

@media only screen and (max-width: 600px) {
  .redirect-button{
    font-size: 20px;
  }
}
