.redirect-button{
  border: none;
  background-color: transparent;
  color: snow;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  max-width: 200px;
  .redirect-button-icon{
    margin-left: 20px;
    font-size: 20px;
    opacity: 0;
  }
}

.redirect-button:hover {
  opacity: 0.9;
  .redirect-button-icon{
    opacity: 0.9;
  }
}

.redirect-button:active {
  transform: scale(1.03);
}
