.experience-card-container{
  margin: 50px auto;
  width: 100%;
  transition: all 100ms linear;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  .experience-card-text{
    background-color: beige;
    padding: 25px 45px;
    width: 50%;
    .card-heading{
      h1{
        margin: 0;
        color: #121212;
      }
      h3{
        margin: 0;
        color: grey;
      }
    }
    .card-content{
      color: black;
      opacity: 0.8;
      font-weight: 600;
      margin: 10px 0;
    }
  }
  .experience-card-picture{
    width: 45%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .experience-card-responsive-design{
    display: none;
  }
}

.experience-card-container:hover{
  transform: scale(1.003);
}

@media only screen and (max-width: 850px) {
  .experience-card-container{
    position: relative;
    width: 98%;
    border: 3px solid white;
    .experience-card-text{
      padding: 15px 0;
      width: 90%;
      margin: auto;
      background-color: transparent;
      z-index: 10;
      .card-heading{
        h1{
          color: white;
        }
        h3{
          color: #a6c0fe;
        }
      }
      .card-content{
        color: white;
      }
    }
    .experience-card-picture{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      filter: blur(2px);
    }
    .experience-card-responsive-design{
      display: block;
    }
  }
}
