.experience-card-container{
  margin: 50px auto;
  transition: all 100ms linear;
  background-color: beige;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  .experience-card-text{
    padding: 25px 45px;
    width: 50%;
    .card-heading{
      h1{
        margin: 0;
      }
      h3{
        margin: 0;
        color: grey;
      }
    }
    .card-content{
      color: black;
      opacity: 0.8;
      font-weight: 600;
      margin: 10px 0;
    }
    //.detailed-project-card-links{
    //  a{
    //    margin-right: 25px;
    //  }
    //}
  }
  .experience-card-picture{
    width: 45%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .experience-card-responsive-design{
    display: none;
  }
}

.experience-card-container:hover{
  transform: scale(1.003);
}

@media only screen and (max-width: 850px) {
  .experience-card-container{
    flex-direction: column;
    .experience-card-text{
      padding: 15px 0;
      width: 90%;
      margin: auto;
      .experience-card-links{
        a{
          justify-content: center;
          align-items: center;
          display: flex;
          margin: 5px 0;
          text-decoration: none;
        }
      }
    }
    .experience-card-picture{
      display: none;
      width: 100%;
    }
    .experience-card-responsive-design{
      display: block;
    }
  }
}
