.footer-container{
  width: 100%;
  min-height: 150px;
  //position: relative;
  color: white;
  .footer{
    height: 100%;
    .footer-content{
      width: 1200px;
      margin: auto;
      height: 100%;
      padding: 45px 30px;
      .footer-left{
        width: 30%;
        .footer-social-media-container{
          font-size: 25px;
          //.footer-social-media-icons{
          //  margin-top: 10px;
          //  img{
          //    align-self: center;
          //    //margin-right: 20px;
          //    cursor: pointer;
          //  }
          //}
        }
      }
      .footer-right{
        width: 60%;
        .footer-nav{
          .heading{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;
          }
          .navigation{
            a{
              font-size: 15px;
              color: white;
              opacity: 0.75;
              text-decoration: none;
              margin: 5px 0;
              transition: all 200ms linear;
            }
            a:hover{
              opacity: 1;
            }
          }
        }
      }
    }
    //.footer-bottom{
    //  border-top: 1px solid grey;
    //  .footer-bottom-content{
    //    padding: 0 45px;
    //    max-width: 1200px;
    //    margin: auto;
    //  }
    //}
  }
}

@media only screen and (max-width: 1050px) {
  .footer-container{
    .footer{
      .footer-content{
        flex-direction: column;
        padding: 35px 25px;
        .footer-left{
          width: 70%;
          .footer-logo{
            width: 100%;
            img{
              width: 60%;
            }
          }
        }
        .footer-right{
          width: 100%;
          .footer-nav{
            .heading{
              margin-top: 10px;
            }
          }
        }
      }
      .footer-bottom{
        .footer-bottom-content{
          font-size: 10px;
          padding: 0 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer-right{
    flex-direction: column;
  }
}
