.footer-container{
  width: 100%;
  min-height: 150px;
  //position: relative;
  color: white;
  .footer{
    height: 100%;
    .footer-content{
      width: 100%;
      margin: auto;
      height: 100%;
      padding: 45px 0;
      .footer-left{
        width: 40%;
        align-items: flex-end;
        .footer-link-container{
        }
      }
      .footer-right{
        width: 50%;
        .banner{
          width: 100%;
          padding: 20px;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          color: #333333;
          background-color: beige;
          font-family: sans-serif;
          font-size: 25px;
          font-weight: bold;
          align-self: center;
        }
      }
    }
    .footer-bottom{
      border-top: 1px solid #9e9e9e;
      .footer-bottom-content{
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
        color: #9e9e9e;
        font-size: 14px;
        padding: 0 45px;
        max-width: 1200px;
        margin: auto;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .footer-container{
    .footer{
      .footer-content{
        .footer-left{
          width: 50%;
          align-items: center;
        }
        .footer-right{
          width: 40%;
          .banner{
            font-size: 16px;
            padding: 8px;
          }
        }
      }
    }
  }
}

