.header-container{
  width: 100%;
  height: 75px;
  background-color: #1f1f1e;
  //box-shadow: rgba(249, 257, 265, 0.2) 0 8px 24px;
  transition: all 0.3s ease-in-out;
  .header{
    max-width: 1200px;
    margin: auto;
    padding: 0 25px;
    height: 75px;
    .company-logo{
      align-self: center;
      padding-top: 12px;
    }

    .sys-btn-container{
      align-self: center;
      a {
        text-decoration: none;
      }
      .sys-btn{
        background: linear-gradient(90deg, #4A2258 -0.19%, #765EAB 99.81%);
        height: 45px;
        width: 160px;
        border-radius: 25px;
        padding: 0 20px;
        transition: all 500ms linear;
        img{
          width: 25px;
        }
        div{
          color: white;
          font-weight: 600;
          align-self: center;
        }
      }
      .sys-btn:hover{
        opacity: 0.8;
      }
    }
    .side-nav-icon{// icon
      display: none;
      margin: 10px 0 10px;
      span{
        color: #44454F;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
  .responsive-nav{
    border-top: 0.5px solid #DEDEDE;
    justify-content: space-around;
    height: 200px;
    :first-child{
      border-top: none;
    }
    a{
      height: 100%;
      letter-spacing: 2px;
      color: white;
      background: linear-gradient(90deg, #3D2258 -0.19%, #111422 99.81%);
      border-top: .5px solid #DEDEDE;
      text-decoration: none;
      text-align: center;
      padding-top: 7px;
    }
  }
}

.navigation-container{ // description for navigation items
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin: auto;

  //padding-left: 180px;
  padding-right: 40px;

  //font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  a{
    text-decoration: none;
    color: white;
    transition: all 200ms linear;
  }
  a:hover{
    opacity: 0.8;
  }
  .sys{
    display: none;
  }
}

@media only screen and (max-width: 1200px) { // for navigation items
  .navigation-container{
    width: 50%;
    padding-left: 30px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 1050px) {
  .navigation-container{
    display: none;
  }
  .sys-btn{
    display: none;
  }
  .header-container{
    .header{
      .side-nav-icon {
        display: block;
      }
    }
  }
}
