.header-container{
  width: 100%;
  height: 75px;
  background-color: #1f1f1e;
  transition: all 0.3s ease-in-out;
  z-index: 70;
  .thumbnail{
    position : absolute;
    top : 0;
    z-index : -5000;
    width : 0;
    height : 0;
    img {
      object-fit: cover;
      width: 0;
      height: 0;
    }
  }
  .header{
    //max-width: 1200px;
    width: 80%;
    margin: auto;
    padding: 0 25px;
    height: 75px;
    .company-logo{
      align-self: center;
      .company-logo-text{
        font-size: 35px;
        letter-spacing: 6px;
        margin-top: 10px;
        margin-left: 15px;
      }
    }

    .side-nav-icon{// icon
      display: none;
      span{
        color: #44454F;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
  .responsive-nav{
    justify-content: space-around;
    position: relative;
    height: 200px;
    z-index: 10;
    :first-child{
      border-top: none; // therefore in .js, <div> bg-img has to be after the first Nav Item
    }
    .bg-img{
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      img{
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    a{
      height: 100%;
      letter-spacing: 5px;
      color: white;
      border-top: .5px solid #DEDEDE;
      text-align: center;
      padding-top: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        font-size: 30px;
      }
    }
  }
}

.navigation-container{ // description for navigation items
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin: auto 0;
  font-weight: 500;
  font-size: 23px;
  a{
    color: white;
    transition: all 200ms linear;
  }
  a:hover{
    opacity: 0.8;
  }
}

@media only screen and (max-width: 1200px) { // for navigation items
  .navigation-container{
    width: 50%;
    padding-left: 30px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 1050px) {
  .navigation-container{
    display: none;
  }
  .header-container{
    .header{
      .side-nav-icon {
        display: flex;
      }
    }
  }
}
