.contact-container{
  .contact{
    max-width: 1000px;
    margin: 150px auto;
    padding: 20px;
    border: 1px solid white;
    text-align: center;
    .contact-avatar{
      align-self: center;
      img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
      }
    }
  }
}
