.contact-container{
  .contact{
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    .contact-avatar{
      align-self: center;
      img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .contact{
      margin: 20px auto;
    }
  }
}
