.homepage-container{
  .intro-container{
    margin: 20px auto;
    justify-content: space-around; // override
    width: 95%;
    .intro-background{
      position: absolute;
      top: 10%;
      width: 700px;
      height: 700px;
      opacity: 0.3;
      border-radius: 50%;
      z-index: 0;
      background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
      box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
    .intro-avatar{
      width: 40%;
      z-index: 10;
      img{
        width: 300px;
        height: 300px;
        border-radius: 2px;
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
      }
    }
    .intro-text{
      margin: auto;
      line-height: 1.8;
      width: 60%;
    }
  }

  @media only screen and (max-width: 800px) {
    .intro-container{
      flex-direction: column;
      .intro-background {
        width: 0;
        height: 0;
      }
      .intro-avatar{
        width: 100%;
        img{
          width: 200px;
          height: 200px;
          border-radius: 5px;
        }
      }
      .intro-text{
        text-align: center;
        width: 80%;
      }
    }
  }
}
