.main-btn-container{
  button{
    background-color: #424242;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 18px;
    font-size: 18px;
    cursor: pointer;
  }
}

.main-btn-container{
  button:hover{
    opacity: 0.9;
  }
  button:active{
    transform: scale(1.03);
  }
}
