.main-button {
  background-color: #424242;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
  font-family: inherit;
}

.main-button:hover {
  opacity: 0.9;
}

.main-button:active {
  transform: scale(1.03);
}
