.main-button {
  background-color: #424242;
  border: none;
  border-radius: 2px;
  color: white;
  padding: 18px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: inherit;
  transition: all 200ms linear;
}

.main-button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-button:active {
  transform: scale(1.03);
}
