.intro-container{
  margin: 50px;
  justify-content: space-around; // override
  .intro-text{
    line-height: 1.8;
    width: 50%;
  }
  .intro-avatar{
    align-self: center;
    img{
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}
