.intro-container{
  margin: 50px;
  justify-content: space-around; // override
  .intro-text{
    line-height: 1.8;
    width: 50%;
    .intro-typewriter {
      height: 70px;
    }
  }
  .intro-avatar{
    align-self: center;
    img{
      width: 300px;
      height: 300px;
      border-radius: 2px;
    }
  }
}
