.intro-container{
  margin: 50px;
  justify-content: space-around; // override
  position: relative;
  .intro-background{
    position: absolute;
    top: -40%;
    width: 700px;
    height: 700px;
    opacity: 0.3;
    //border: 15px solid #8e8d8a;
    border-radius: 50%;
    z-index: 1;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }
  .intro-text{
    line-height: 1.8;
    width: 40%;
    z-index: 10;
    .intro-typewriter {
      font-size: 25px;
      height: 150px;
    }
  }
  .intro-avatar{
    align-self: center;
    z-index: 10;
    img{
      width: 300px;
      height: 300px;
      border-radius: 2px;
      box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    }
  }
}
