.preparations-card-container {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
  background-size: cover;

  .preparations-card {
    color: black;

    .preparations-detail {
      margin-top: 10px;
      font-size: 22px;
      opacity: 0.8; // todo: add global color.scss
    }
  }
}
