.contact-form-container{
  max-width: 800px;
  margin: auto;
  .contact-form{
    padding: 0 15px;
    .heading{
      width: 80%;
      margin: auto;
      p{
        text-align: center;
      }
    }
    .field{
      width: 100%;
      margin: 10px auto 15px;
      position: relative;
      input{
        border: 1px solid #DBDBDB;
        width: 90%;
        height: 40px;
        font-size: 20px;
        padding: 0 10px;
        outline: none;
        background: beige;
      }
      textarea{
        border: 1px solid #DBDBDB;
        background: beige;
        height: 20vh;
        font-size: 20px;
        font-family: sans-serif;
        padding: 10px;
        resize: none;
        outline: none;
        width: 95%;
        //margin: auto;
      }
      .error-message{
        position: absolute;
        bottom: -25px;
        font-size: 18px;
        color: snow;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .contact-form-container{
    .contact-form{
      .field{
        margin-top: 10px;
        input{
          width: 95%;
        }
      }
    }
  }
  .basic-contact{
    flex-direction: column;
  }
}
